html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic')
  body
    #myApp
    script.
      var source = !{JSON.stringify(source)}
    script(src="/assets/bundle.js")
